EMAIL=xxxxxxxxx from Gmail
EMAIL_TO_SEND=****** mail to send the email
MAILPASS=******** from Gmail
MP_ACCESS_TOKEN=********* Acces Token from Mercado Pago
NEXT_PUBLIC_MP_PUBLIC_KEY= ********** Public Key from Mercado Pago
NEXT_PUBLIC_BASE_URL=************ Base URL
GOOGLE_CLIENT_ID=******** from https://console.developers.google.com/apis/credentials
GOOGLE_CLIENT_SECRET=******** from https://console.developers.google.com/apis/credentials
DB_USER=******** DB user from mongo
DB_PASS=******** DB pass for mongo
DB_HOST=******** DB Host from mongo
DB_NAME=******** DB colection name from mongo

