EMAIL=xxxxxxxxx from Gmail
EMAIL_TO_SEND=****** mail to send the email
MAILPASS=******** from Gmail
MP_ACCESS_TOKEN=********* Acces Token from Mercado Pago
NEXT_PUBLIC_MP_PUBLIC_KEY= ********** Public Key from Mercado Pago
NEXT_PUBLIC_BASE_URL=************ Base URL

