:root {
  --main-color: #1e1c21;
  --main-color-50: #1e1c217a;
  --second-color: rgba(255, 201, 201, 0.5);
  --third-color: #dbeae5;
  --main-bg: #fbfbfb;
  --second-bg: rgba(255, 201, 201, 0.5);
  --main-border: rgba(0, 0, 0, 0.2);
  --main-filter: invert(7%) sepia(14%) saturate(667%) hue-rotate(222deg)
    brightness(91%) contrast(89%);
}

@font-face {
  font-family: moneta;
  src: url(../fonts/Moneta-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: moneta;
  src: url(../fonts/Moneta-Bold.ttf);
  font-weight: 600;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--main-bg);
  scroll-behavior: smooth;
}

* {
  /* font-family: "Source Sans 3", sans-serif;
  font-family: "Raleway", sans-serif; */
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-color);
  scroll-behavior: smooth;
  /* background-color: var(--main-bg); */
}

a {
  text-decoration: inherit;
}

h1 {
  font-family: "moneta", serif;
  font-size: 2.5rem;
  line-height: 4rem;
  font-weight: 500;
  margin: 2rem 0;
}

h3 {
  font-family: "Source Sans 3", sans-serif;
  font-family: "moneta", serif;
  font-weight: 500;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin: 2rem 0;
}

.mainSection {
  padding: 0 5rem;
  max-width: 1500px;
  min-height: calc(100vh - 4rem - 3rem - 2rem);
  margin: 0 auto;
  text-align: center;
  /* border: solid 1px red;   */
  align-self: flex-start !important;
}