.videoContainer {
  background-image: url(../../../../../public/images/header/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}